[submodule "themes/Terminal"]
	path = themes/Terminal
	url = https://github.com/techbarrack/terminal-hugo-theme
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
